!!!
%html
    %head
        %title donuts.io
        %link(href="css/bootstrap.css" rel="stylesheet")
    %body
        %nav(class="navbar navbar-default navbar-fixed-top" role="nagivation")
            %div(class="container")
                %div(class="header")
                    %h3(class="text-muted") donuts.io
