!!!
%html
    %head
        %title donuts.io
        %link(href="ss/style.css" rel="stylesheet")

        %script(src="https://code.jquery.com/jquery-1.10.2.min.js")
        %script(src="js/bootstrap.min.js")
        %script(src="js/jquery.stellar.min.js")

        %script
            $(function(){
            $.stellar();
            });

    %body(data-spy="scroll" data-target=".navbar")
        .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
            .container
                .navbar-header
                    %a.navbar-brand eldonuts
                .navbar-collapse.collapse
                    %ul.nav.navbar-nav
                        %li.active
                            %a(href="#cat1") cat1
                        %li
                            %a(href="#cat2") cat2
                        %li
                            %a(href="#cat3") cat3



        .row
            .cat1.sixhundred#cat1(data-stellar-background-ratio="0.5")
            .cat2.sixhundred#cat2(data-stellar-background-ratio="0.5")
            .cat3.sixhundred#cat3(data-stellar-background-ratio="1")
